<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <footer th:fragment="footer" class="site-footer">
        <div class="footer-content">
            <img class="logo-img" th:src="@{/images/designAsset/logo-w.png}">
            <p class="site-name">SiteName</p>
        </div>
        <p class="copyright">2025 Copyright 4조프로젝트</p>
    </footer>
</body>

</html>