<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/layout}">
    <head>
        <title>Main</title>
        <th:block layout:fragment="css">
            <link rel="stylesheet" th:href="@{/css/main.css}">
        </th:block>
    </head>
<body>
    <div layout:fragment="content">
        <!-- 1. 메인 슬라이드 섹션 -->
        <section class="main-slide">
            <div class="container main-slide-content">
                <div class="main-slide-text">
                    <h1>Art<br>Design<br>&<br>Java<br>FrontEnd</h1>
                    <a href="#" class="btn">작품보러가기</a>
                </div>
            </div>
        </section>

        <!-- 2. 작품 추천 그리드 섹션 -->
        <section class="needs-grid">
            <div class="container">
                <div class="grid-container">
                    <!-- 아이템 1 -->
                    <article class="grid-item">
                        <div class="item-image-placeholder"></div>
                        <div class="item-info">
                            <div class="author-info">
                                <div class="author-avatar"></div>
                                <span class="author-name">작가 이름</span>
                            </div>
                            <a href="#" class="btn subscribe-btn">Subscribe</a>
                        </div>
                    </article>
                    <!-- 아이템 2 -->
                    <article class="grid-item">
                        <div class="item-image-placeholder"></div>
                        <div class="item-info">
                            <div class="author-info">
                                <div class="author-avatar"></div>
                                <span class="author-name">작가 이름</span>
                            </div>
                            <a href="#" class="btn subscribe-btn">Subscribe</a>
                        </div>
                    </article>
                    <!-- 아이템 3 -->
                    <article class="grid-item">
                        <div class="item-image-placeholder"></div>
                        <div class="item-info">
                            <div class="author-info">
                                <div class="author-avatar"></div>
                                <span class="author-name">작가 이름</span>
                            </div>
                            <a href="#" class="btn subscribe-btn">Subscribe</a>
                        </div>
                    </article>
                    <!-- 아이템 4 -->
                    <article class="grid-item">
                        <div class="item-image-placeholder"></div>
                        <div class="item-info">
                            <div class="author-info">
                                <div class="author-avatar"></div>
                                <span class="author-name">작가 이름</span>
                            </div>
                            <a href="#" class="btn subscribe-btn">Subscribe</a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- 3. 경매 홍보 섹션 (Call to Action) -->
        <section class="auction-cta">
            <div class="container auction-cta-content">
                <p class="cta-text">이제 정말 좋은 작품들을<br>경매를 통해 보다 필요한 사람과 거래해보세요.</p>
                <a href="#" class="btn">경매보러가기</a>
            </div>
        </section>

        <!-- 4. 작가 등록 추천 섹션 -->
        <section class="sell-recommend">
            <div class="container sell-recommend-content">
                <div class="sell-image-placeholder"></div>
                <div class="sell-text-content">
                    <p class="sell-description">창의적인 디자인 아트웍부터 논리적인 자바 코드구조까지 <br>정당한 비용을 받고 공유해보세요!</p>
                    <a href="#" class="btn">작가 등록하기</a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>