<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <style>
        .no-js-message {
            text-align: center;
            padding: 100px 20px;
            color: #ff0000;
            font-size: 18px;
            background-color: #fff5f5;
            border: 2px solid #ffcccc;
            border-radius: 10px;
            margin: 50px auto;
            max-width: 600px;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div id="main-content-placeholder"></div>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/security.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</th:block>

</html>